.screen {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #905d5d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #412019;
    font-weight: bold;
    box-sizing: border-box;
  }

  .upper {
    height: 40px;
  }

  .lower {
    height: 60px;
  }

  .screen-wrapper {
    width: 100%;
  }