.choco-button {
  background-image: url('/assets/button.svg');
  background-color: #664039;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 146px;
  width: 232px;
  border: none;
  margin: none;
}

